n8n-certificate-workflow.json
{
  "name": "HeriStepAI - Tour Completion Certificate (Email)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "30 16 * * *"
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Cron 23:30 (UTC+7)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300],
      "notes": "Chạy lúc 23:30 giờ VN (16:30 UTC)"
    },
    {
      "parameters": {
        "url": "https://heristep.onrender.com/api/analytics/user-daily-visits",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "heristepai-report-2026"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "fetch-visits",
      "name": "Fetch User Daily Visits",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst users = data.users || [];\nconst dateFormatted = data.dateFormatted || data.date;\n\nif (users.length === 0) return [];\n\nreturn users.map(user => {\n  const poiRows = user.pois.map(poi => {\n    const imgHtml = poi.imageUrl\n      ? `<img src=\"${poi.imageUrl}\" alt=\"${poi.poiName}\" style=\"width:100%;height:140px;object-fit:cover;border-radius:8px;display:block;\">`\n      : `<div style=\"width:100%;height:140px;background:linear-gradient(135deg,#fef9f0,#fde8c8);border-radius:8px;display:flex;align-items:center;justify-content:center;\"><span style=\"font-size:36px;\">🏛</span></div>`;\n    return `\n    <div style=\"flex:0 0 calc(50% - 8px);background:#fff;border-radius:12px;border:1px solid #e2e8f0;overflow:hidden;box-shadow:0 1px 4px rgba(0,0,0,0.06);\">\n      ${imgHtml}\n      <div style=\"padding:10px 12px;\">\n        <p style=\"margin:0 0 2px;font-size:14px;font-weight:600;color:#1e293b;\">${poi.poiName}</p>\n        ${poi.address ? `<p style=\"margin:0 0 2px;font-size:12px;color:#64748b;\">📍 ${poi.address}</p>` : ''}\n        <p style=\"margin:0;font-size:12px;color:#94a3b8;\">⏰ ${poi.firstVisitTime} · ${poi.visitCount} lượt</p>\n      </div>\n    </div>`;\n  }).join('');\n\n  const subject = `[HeriStepAI] Chứng nhận hành trình của bạn — ${dateFormatted}`;\n\n  const html = `<!DOCTYPE html>\n<html><head><meta charset=\"UTF-8\"><meta name=\"viewport\" content=\"width=device-width,initial-scale=1\"></head>\n<body style=\"margin:0;padding:0;background:#f8fafc;font-family:Arial,sans-serif;\">\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#f8fafc;padding:24px 0;\">\n<tr><td align=\"center\">\n<table width=\"600\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#fff;border-radius:16px;overflow:hidden;box-shadow:0 4px 16px rgba(0,0,0,0.10);\">\n\n<!-- Header Banner -->\n<tr><td style=\"background:linear-gradient(135deg,#C97B28,#E8943A,#F5A84E);padding:40px 32px;text-align:center;\">\n  <div style=\"background:rgba(255,255,255,0.15);border-radius:50%;width:72px;height:72px;margin:0 auto 16px;display:flex;align-items:center;justify-content:center;\">\n    <span style=\"font-size:36px;\">🏛</span>\n  </div>\n  <h1 style=\"margin:0 0 8px;color:#fff;font-size:26px;font-weight:700;letter-spacing:1px;\">HERISTEP AI</h1>\n  <p style=\"margin:0 0 16px;color:rgba(255,255,255,0.9);font-size:14px;\">Du lịch thông minh · Đà Nẵng</p>\n  <div style=\"display:inline-block;background:rgba(255,255,255,0.2);border:2px solid rgba(255,255,255,0.6);border-radius:30px;padding:10px 28px;\">\n    <p style=\"margin:0;color:#fff;font-size:15px;font-weight:600;\">🎉 Chứng nhận hành trình</p>\n    <p style=\"margin:4px 0 0;color:rgba(255,255,255,0.85);font-size:13px;\">${dateFormatted}</p>\n  </div>\n</td></tr>\n\n<!-- Thank You Message -->\n<tr><td style=\"padding:32px 32px 24px;\">\n  <h2 style=\"margin:0 0 8px;color:#1e293b;font-size:20px;\">Xin chào, ${user.fullName}! 👋</h2>\n  <p style=\"margin:0 0 16px;color:#475569;font-size:15px;line-height:1.6;\">\n    Cảm ơn bạn đã sử dụng <strong>HeriStepAI</strong> để khám phá Đà Nẵng hôm nay.\n    Bạn đã tham quan <strong style=\"color:#E8943A;\">${user.totalPOIs} địa điểm</strong> —\n    đây là tổng kết hành trình của bạn!\n  </p>\n  <div style=\"background:#fef9f0;border:1px solid #fde8c8;border-radius:10px;padding:14px 18px;display:inline-block;\">\n    <p style=\"margin:0;font-size:13px;color:#92400e;\">\n      🌟 Mỗi địa điểm bạn ghé thăm là một ký ức đẹp. Hẹn gặp lại bạn trong những chuyến hành trình tiếp theo!\n    </p>\n  </div>\n</td></tr>\n\n<!-- POI List -->\n<tr><td style=\"padding:0 32px 32px;\">\n  <h3 style=\"margin:0 0 16px;color:#1e293b;font-size:17px;border-bottom:2px solid #fde8c8;padding-bottom:10px;\">\n    🗺 Các địa điểm đã ghé thăm\n  </h3>\n  <div style=\"display:flex;flex-wrap:wrap;gap:16px;\">\n    ${poiRows}\n  </div>\n</td></tr>\n\n<!-- Certificate Badge -->\n<tr><td style=\"padding:0 32px 32px;\">\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\">\n  <tr>\n    <td style=\"background:linear-gradient(135deg,#fef9f0,#fde8c8);border-radius:12px;border:2px dashed #E8943A;padding:24px;text-align:center;\">\n      <p style=\"margin:0 0 4px;font-size:22px;\">🏆</p>\n      <p style=\"margin:0 0 4px;font-size:16px;font-weight:700;color:#C97B28;\">Nhà khám phá Đà Nẵng</p>\n      <p style=\"margin:0;font-size:13px;color:#92400e;\">Cấp bởi HeriStepAI · ${dateFormatted}</p>\n    </td>\n  </tr>\n  </table>\n</td></tr>\n\n<!-- Footer -->\n<tr><td style=\"background:#f8fafc;padding:20px 32px;border-top:1px solid #e2e8f0;text-align:center;\">\n  <p style=\"margin:0 0 4px;font-size:13px;color:#64748b;\">HeriStepAI — Ứng dụng du lịch thông minh tại Đà Nẵng</p>\n  <p style=\"margin:0;font-size:12px;color:#94a3b8;\">\n    🤖 Tự động gửi bởi n8n Workflow · ${new Date().toLocaleString('vi-VN', {timeZone:'Asia/Ho_Chi_Minh'})}\n  </p>\n</td></tr>\n\n</table>\n</td></tr></table>\n</body></html>`;\n\n  return { json: { to: user.email, subject, html, userName: user.fullName } };\n});"
      },
      "id": "format-certificates",
      "name": "Format Certificate Emails",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "fromEmail": "your-gmail@gmail.com",
        "toEmail": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "emailType": "html",
        "message": "={{ $json.html }}",
        "options": {}
      },
      "id": "send-certificate",
      "name": "Send Certificate Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [900, 300],
      "credentials": {
        "smtp": {
          "id": "gmail-smtp-credentials",
          "name": "Gmail SMTP"
        }
      }
    }
  ],
  "connections": {
    "Cron 23:30 (UTC+7)": {
      "main": [
        [{ "node": "Fetch User Daily Visits", "type": "main", "index": 0 }]
      ]
    },
    "Fetch User Daily Visits": {
      "main": [
        [{ "node": "Format Certificate Emails", "type": "main", "index": 0 }]
      ]
    },
    "Format Certificate Emails": {
      "main": [
        [{ "node": "Send Certificate Email", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": ["heristepai", "certificate", "tourist", "email"]
}
